<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Warframe Worldstate Visualization</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app">
      <div id="platform-buttonset" v-if="state === 0">
        <button v-on:click="selectPlatform('pc')">PC</button>
        <button v-on:click="selectPlatform('xb1')">XBox</button>
        <button v-on:click="selectPlatform('ps4')">PS4</button>
        <button v-on:click="selectPlatform('swi')">Switch</button>
      </div>
      <div id="world-info" v-else>
        <div v-for="event_type in world_data">
          <div>
            <event-instance
              v-for="instance in event_type"
              v-bind:key="instance.id"
              v-bind:instance_data="instance"
            ></event-instance>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html> 